<main>
  <section class="heading-section">
    <h1>About me<span>.</span></h1>
    <p>
      Front-End Developer with 6+ years of expertise in Angular, Agile
      methodologies, and building high-performance web applications. Proficient
      in developing reusable components, optimizing application performance, and
      ensuring seamless user experiences. Skilled in modern front-end
      technologies and collaborative Agile workflows, with a track record of
      delivering scalable and bug-free applications.
    </p>
  </section>
  <section class="skills-place-section section-spacing">
    <div class="child-1">
      <h2>My Stack.</h2>
      <div class="skills-container">
        <div class="skills-tab">
          <ul>
            <li>Angular</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>TypeScript</li>

            <li>Angular</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
          </ul>
        </div>

        <div class="skills-tab reverse">
          <ul>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>
            <li>GitHub Actions</li>
            <li>GraphQL</li>

            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>
            <li>GitHub Actions</li>
            <li>GraphQL</li>
          </ul>
        </div>

        <div class="skills-tab">
          <ul>
            <li>SaSS</li>
            <li>Agile</li>
            <li>RxJS</li>
            <li>Figma</li>
            <li>Ionic</li>

            <li>SaSS</li>
            <li>Agile</li>
            <li>RxJS</li>
            <li>Figma</li>
            <li>Ionic</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="child-2">
      <h2>My Special Place.</h2>
      <div class="map-container"></div>
    </div> -->
  </section>

  <section class="my-story-section section-spacing">
    <h2 class="title section-title">My story<span>.</span></h2>
    <p>
      Front-End Developer with 6+ years of expertise in
      <span>Angular,</span> Agile methodologies, and building high-performance
      web applications.
    </p>
    <p>
      Proficient in developing reusable components, optimizing application
      performance, and ensuring seamless user experiences.
    </p>
    <p>
      Skilled in modern front-end technologies and collaborative
      <span>Agile</span>
      workflows, with a track record of delivering scalable and bug-free
      applications.
    </p>
  </section>

  <section class="experience-section section-spacing">
    <h2 class="title section-title">My Experience<span>.</span></h2>

    <div class="experience-container">
      <div class="number">01</div>
      <div class="experience-details">
        <h2 class="designation">Frontend Developer</h2>
        <h2 class="experience-company">TCS</h2>
        <p>
          Optimized application performance by 20% through the development of
          reusable Angular components, custom directives, and dependency
          services. Improved code readability and maintainability by integrating
          TypeScript and implementing ECMAScript features. Enhanced asynchronous
          operations with RxJS, improving application responsiveness and
          scalability.
        </p>

        <p>
          Designed and implemented SCSS styling with mixins, variables, and grid
          layouts to ensure reusable and lightweight code. Built and maintained
          GraphQL queries and fragments to streamline data retrieval and improve
          application efficiency.
        </p>
        <p>
          Wrote extensive unit and end-to-end tests using Jest, Spectator,
          Cypress, and CodeceptJS to ensure robust application performance.
          Developed and migrated Storybook for component library creation,
          enhancing design consistency and collaboration. Collaborated with
          cross-functional teams, including client developers, Product Owners,
          and Scrum Masters, within Agile workflows.
        </p>
      </div>
    </div>

    <div class="experience-container">
      <div class="number">02</div>
      <div class="experience-details">
        <h2 class="designation">Frontend Developer</h2>
        <h2 class="experience-company">TCS</h2>
        <p>
          Built and maintained a web application from scratch using the MVC
          framework, streamlining workflows for cloud solution providers.
          Created templates and web pages using HTML, styled them with CSS and
          Bootstrap, and implemented dynamic features using JavaScript and
          jQuery.
        </p>
        <p>
          Developed APIs with Hibernate Java MVC framework to enable CRUD
          operations efficiently. Leveraged Maven for dependency management and
          Git/GitHub for version control.
        </p>
      </div>
    </div>
  </section>
</main>
