<main>
  <section class="heading-section">
    <h1>About me<span>.</span></h1>
    <p>
      Developing beautiful and functional websites is what I love doing, and
      that's why I give my all in every new challenge.
    </p>
  </section>
  <section class="skills-place-section section-spacing">
    <div class="child-1">
      <h2>My Stack.</h2>
      <div class="skills-container">
        <div class="skills-tab">
          <ul>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>

            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>
          </ul>
        </div>

        <div class="skills-tab reverse">
          <ul>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>

            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>
          </ul>
        </div>

        <div class="skills-tab">
          <ul>
            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>

            <li>Angular</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Jest</li>
            <li>GitHub</li>
            <li>Playwright</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="child-2">
      <h2>My Special Place.</h2>
      <div class="map-container"></div>
    </div> -->
  </section>

  <section class="my-story-section section-spacing">
    <h2 class="title section-title">My story<span>.</span></h2>
    <p>
      My journey as a front-end developer started back in 2010, working as
      a<span>freelancer</span> for clients all over the world for several years.
    </p>
    <p>
      After being on my own for a while, I decided to enter the corporate world,
      and I started working as a software developer at <span>Webflow</span>, the
      same platform I was using with my freelance clients.
    </p>
    <p>
      After some exciting months of work at Webflow, I decided to transition to
      <span>Stripe</span>, where I returned what I love: front-end development.
    </p>
    <p>
      My <span>success</span> quickly compounded I started receiving job offers
      from the biggest names in the industry.
    </p>
    <p>
      All these opportunities led me to travel the world. Eventually, however, I
      decided to settle down for a more calm and simple routine, and I'm now
      working at Apple. And you know what? I love what I do! 💜
    </p>
  </section>

  <section class="experience-section section-spacing">
    <h2 class="title section-title">My Experience<span>.</span></h2>

    <div class="experience-container">
      <div class="number">01</div>
      <div class="experience-details">
        <h2 class="designation">Frontend Developer</h2>
        <h2 class="experience-company">TCS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam
          nisl sit amet lacus volutpat, vitae commodo odio tincidunt.
          Suspendisse libero purus, tincidunt in massa vel, eleifend aliquet mi.
          Sed erat lorem, posuere quis dolor ullamcorper, posuere bibendum arcu
        </p>
        <p>
          Donec lacinia rutrum nibh faucibus malesuada. Quisque non aliquam
          nibh, quis laoreet magna. Morbi blandit ex sed lorem blandit interdum.
        </p>
      </div>
    </div>

    <div class="experience-container">
      <div class="number">02</div>
      <div class="experience-details">
        <h2 class="designation">Frontend Developer</h2>
        <h2 class="experience-company">TCS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam
          nisl sit amet lacus volutpat, vitae commodo odio tincidunt.
          Suspendisse libero purus, tincidunt in massa vel, eleifend aliquet mi.
          Sed erat lorem, posuere quis dolor ullamcorper, posuere bibendum arcu
        </p>
        <p>
          Donec lacinia rutrum nibh faucibus malesuada. Quisque non aliquam
          nibh, quis laoreet magna. Morbi blandit ex sed lorem blandit interdum.
        </p>
      </div>
    </div>
  </section>
</main>
