<main>
  <section class="section-spacing">
    <h1>My <span>Best</span> Creations</h1>
    <p>
      Designing and Developing Robust and Stylish Web Applications for a Decade
      and Counting
    </p>

    <a aria-label="Project-1" class="project-1" routerLink="#">
      <div class="img-space"></div>
      <h4 aria-hidden="true">Project-1</h4>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
        dolor
      </div>
    </a>
    <a aria-label="Project-2" class="project-2" routerLink="#">
      <div class="img-space"></div>
      <h4 aria-hidden="true">Project-2</h4>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
        dolor
      </div>
    </a>
    <a aria-label="Project-3" class="project-3" routerLink="#">
      <div class="img-space"></div>
      <h4 aria-hidden="true">Project-3</h4>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
        dolor
      </div>
    </a>
    <a aria-label="Project-4" class="project-4" routerLink="#">
      <div class="img-space"></div>
      <h4 aria-hidden="true">Project-4</h4>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
        dolor
      </div>
    </a>
  </section>
</main>
