* {
  font-family: Poppins, sans-serif, Helvetica;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6e06f2;
  --background-color: #ffffff;
  --text-color-primary: #24262f;
  --text-color-secondary: #424556;

  --image-space-color: #424556;
}

body {
  background-color: var(--background-color);
}

// dark-theme

.dark-theme {
  --background-color: #24262f;
  --text-color-primary: #ffffff;
  --text-color-secondary: #ffffff;
}

.section-spacing {
  margin: 150px 0;
  @media screen and (max-width: 800px) {
    margin: 75px 0;
  }
}
